h1, h2, h3, h4{

  font-family: sans-serif;
  text-align: center;
}


h1{
  font-size: 50px;
}

.ondertiteling{
  font-size: 20px;
  font-family:  cursive;
  text-align: center;
}

.verslag{
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}

.onderzoek{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

.lijst{
  font-family: cursive;
}
