h1 {
    text-align:center;
    font-family: verdana;
    font-size: 25px;
    color: white;
}
.memory-container {
    width: 240px;
    height: 325px;
    border: 1px solid #e9e9e9;
    margin: auto;
    background-color: #666;
}
.memory-card {
    width: 100px;
    height: 100px;
    background-color: #0099ff;
    margin: 10px;
    border: 1px solid #e9e9e9;
    margin: auto;
    background-color: #999999;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
.msg {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    font-size: 55px;
}
