
.flex3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 5vh;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: 8%;
    justify-content: flex-start;
    border:3px sollid #000;
}


.main-content{
    flex-direction: column;

}


.grid-container-3{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
}