/*padding*/
/*all*/
.p1{
    padding: 1em;
}

.p2{
    padding: 1,5em;
}

.p3{
    padding: 2em;
}

.p4{
    padding: 3em;
}

.p5{
    padding: 4em;
}

/*top - bottom*/
.px1{
    padding: 1em 0;
}

.px2{
    padding: 1,5em 0;
}

.px3{
    padding: 2em 0;
}

.px4{
    padding: 3em 0;
}


.px5{
    padding: 4em 0;
}

/*left - right*/
.py1{
    padding: 0 1em;
}

.py2{
    padding: 0 1,5em;
}

.py3{
    padding: 0 2em;
}

.py4{
    padding: 0 3em;
}

.py5{
    padding: 0 4em;
}

/*top*/
.pt1{
    padding-top: 1em;
}

.pt2{
    padding-top: 1,5em;
}

.pt3{
    padding-top: 2em;
}

.pt4{
    padding-top: 3em;
}

.pt5{
    padding-top: 4em;
}

/*bottom*/
.pb1{
    padding-bottom: 1em;
}

.pb2{
    padding-bottom: 1,5em;
}

.pb3{
    padding-bottom: 2em;
}

.pb4{
    padding-bottom: 3em;
}

.pb5{
    padding-bottom: 4em;
}

/*margin*/
/*all*/
.m1{
    margin: 1em;
}

.m2{
    margin: 1,5em;
}

.m3{
    margin: 2em;
}

.m4{
    margin: 3em;
}

.m5{
    margin: 4em;
}

/*top - bottom*/
.mx1{
    margin: 1em 0;
}

.mx2{
    margin: 1,5em 0;
}

.mx3{
    margin: 2em 0;
}

.mx4{
    margin: 3em 0;
}


.mx5{
    margin: 4em 0;
}

/*left - right*/
.my1{
    margin: 0 1em;
}

.my2{
    margin: 0 1,5em;
}

.my3{
    margin: 0 2em;
}

.my4{
    margin: 0 3em;
}

.my5{
    margin: 0 4em;
}

/*top*/
.mt1{
    margin-top: 1em;
}

.mt2{
    margin-top: 1,5em;
}

.mt3{
    margin-top: 2em;
}

.mt4{
    margin-top: 3em;
}

.mt5{
    margin-top: 4em;
}

/*bottom*/
.mb1{
    margin-bottom: 1em;
}

.mb2{
    margin-bottom: 1,5em;
}

.mb3{
    margin-bottom: 2em;
}

.mb4{
    margin-bottom: 3em;
}

.mb5{
    margin-bottom: 4em;
}

/*grid configs*/
.grid162 {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 25px;
}

