.p-1 {
    padding: 5vh;
}

.pr-10px {
    padding-right: 10px;
}

.border-3{ 
    border: 3px solid var(--border);
    border-radius: 10px;
    box-shadow: 4px black;
}

.inline-list  li{
    display: inline-block;
}

