:root   {
    /*colorsceme*/
    --highlight: #f0f0f0;
    --accent: rgb(149, 105, 24);
    --main: rgb(42, 42, 136); 
    --text: rgb(189, 186, 186); 
    --text-light: rgb(200, 200, 180);
    --border: orange;
    --bg-nav: rgba(21, 21, 176, .4);
    --bg-nav-light:rgba(55, 55, 219, 0.4);


    --normal: 2vh;
}